# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
config.json
/logs

# testing
/coverage
/swagger
/test-report

# production
/build
/dist
/lib

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea
/.vscode
*.iml
*.ipr
*.iws
